@tailwind base;
@tailwind components;
@tailwind utilities;

.mental-health-container {
  max-width: 1440px;
  margin: 0 auto;
}

.mental-health-container-inner {
  margin-left: 16px;
  margin-right: 16px;
}
